@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    height: 4.524rem;
    background-color: rgba(34, 34, 34, 0.5);
    position: sticky;
    top: 0;

}

.container {
    width: 90%;
    margin-inline: auto;
}

.desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}

.desktop-menu ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;

}

.desktop-menu ul a {
    color: white;
    text-decoration: none;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.625rem; */
}

.desktop-menu ul a:hover {
    color: #ed563b;
}

em {
    color: #ed563b;
    font-style: normal;
}

.SING {
    background-color: #ed563b;
    padding: 0.5rem;
}

.SING:hover {
    background-color: #f1998a;
    color: #ed563b;
    transition: background-color- 0.200ms ease;
}

.hamburger {
    display: none;
}

.mobile-menu {
    display: none;
}

.hero {
    height: calc(100vh - 4.524rem);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/841128/pexels-photo-841128.jpeg')center no-repeat;
    background-size: cover;
    display: flex;
    top: 0;
}

.hero .container {
    display: flex;
    align-items: centen;
    justify-content: center;
}

.gym {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;


}

.gym h4 {
    font-size: 1.4rem;
    color: white;
}

.gym h1 {
    font-size: 5rem;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 5rem;
}

.btn {
    padding: 0.909rem 1rem;
    font-size: 1rem;
    background-color: #ed563b;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    text-decoration-color: #ed563b;
    background-color: #f1998a;
}

.choose {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    text-align: center;

}

.choose img {
    width: 4%;
}

.choose p {
    font-size: 0.875;
    line-height: 1.5625rem;
    color: #7a7a7a;
}

.choose h1 {
    font-size: 28px;
    font-weight: 800;
    color: #232d39;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.grid-program {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.basics {
    display: flex;
    gap: 1rem;
}

.tex-basic {
    display: flex;
    flex-direction: column;
}

.tex-basic h2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
}

.tex-basic p {
    font-size: 0.864rem;
    font-weight: 400;
    color: #7a7a7a;
}

.thinks {
    margin-top: 4rem;
    padding: 2rem;
    height: 50vh;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg') no-repeat;
    ;
}

.item-thinks {
    color: white;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-classes {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.class {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
}

.traing-class {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1.3rem;
}

.traing-class h1 {
    font-size: 1rem;
}

.img-traing {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: flex-start;
}

.img-traing img {
    border-radius: 1rem;
}

.img-traing p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #7a7a7a;
}

.img-traing .btn {
    font-size: 1rem;
    width: 20%;
}

.veiw {
    font-size: 1.5rem;
    padding: 1.4rem;
    border-radius: 0.5rem;
}

.time-table {
    background: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg');
    height: 60rem;
}

.schedules {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
}

.schl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 3rem;
}

table,
th,
td {
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    padding: 1rem;
    padding: 3rem 4rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.filters {
    font-size: 3rem;
    padding: 1rem;
}

.expert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.exprt-grid {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.exprt-grid img {
    border-radius: 0.4rem;
    width: 100%;
}

.exprt-grid h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.exprt-grid h5 {
    font-size: 0.8rem;
    font-weight: 500;
}

.exprt-grid p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #7a7a7a;
}

.link {
    display: flex;
    text-align: left;
}

.link i {
    display: flex;
    flex-direction: column;
    margin: 0.0123rem;
    color: #232d39;
    font-size: 1.1rem;
    box-ordinal-group: 0;

}

.link i:hover {
    color: #ed563b;
}

.contact-us {
    width: 100%;
    margin-top: 140px;
    display: flex;
}

.map {
    width: 50%;
}

.contact-form {
    width: 50%;
    background: url('https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg');
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form {
    width: 90%;
    background-color: #fff;
    padding: 3rem;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.info {
    display: flex;
    gap: 1rem;
}

.input {
    width: 100%;
}

fieldset {
    width: 100%;
    border: none;

}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #999;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1rem;
    margin-top: 2rem;
}

@media (max-width:480px) {

    .desktop-menu {
        display: none;
    }

    header {
        background-color: #ffffff;
        width: 100%;

    }

    i {
        z-index: 2;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: rgb(0, 0, 0);
        font-size: 1rem;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        top: 7%;
        right: 3%;

    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        color: rgb(0, 0, 0);
        inset: 0 0 0 0;
        transform: translateX(0%);
        transition: transform 350ms ease-in-out;
    }

    .mobile-menu[data-visible="false"] {
        transform: translateX(100%);
    }

    .hamburger i[data-visible="true"] {
        display: block;
    }

    .hamburger i[data-visible="false"] {
        display: none;
    }

    .mobile-menu .navigation {
        top: 100%;
    }

    .mobile-menu .navigation .munes-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 0.4rem;
        max-width: 100%;
        height: 40vh;
        background-color: #ffffff;
        margin-top: -100px;
        margin: 1.3rem;
        border-radius: 0% 0% 10% 10%;
    }

    .mobile-menu .navigation .munes-link a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: rgb(0, 0, 0);
        width: 100%;
        padding: 0rem 10rem;
        font-size: 1rem;
    }

    .mobile-menu h1 {
        font-size: 1.3rem;
        align-items: center;
        /* padding: 10px; */
    }

    .gym {
        display: flex;
    }

    .gym h1 {
        font-size: 3.5rem;
        text-align: center;
    }

    .gym h4 {
        font-size: 1rem;
    }

    .grid-program {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-classes {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .grid-classes {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: 1fr;
        width: 100%;
        left: 0;
    }

    .veiw {
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 0.5rem;
        width: 100%;
    }

    .img-traing .btn {
        width: 50%;
    }

    .img-traing {
        width: 98%;
    }

    .expert-grid {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;

    }

    table,
    th,
    td {
        border: 1px solid rgb(255, 255, 255);
        border-collapse: collapse;
        padding: 1rem;
        font-size: 0.9rem;
        font-weight: 400;
        width: 2rem;
        height: 3rem;
    }

    .link {
        display: flex;
    }

    .iframe iframe {
        width: 50%;

    }

    .ba-img {
        background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg") no-repeat center;
        width: 100%;
    }

    .form {
        background-color: #ffffff;
        width: 50%;
        padding: 2rem;
        margin-left: 7rem;
        margin-top: 5rem;
    }

    .form input {
        width: 100%;
        padding: 0.1rem;
    }

    .form .messege {
        height: 10vh;
    }

    .contact-us {

        flex-direction: column;
    }

    .map {
        width: 100%;
    }

    .contact-form {
        width: 100%;

    }

    .info {
        flex-direction: column;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-size: 0.6rem;
        bottom: auto;
    }

}